@import url(http://fonts.googleapis.com/css?family=Alegreya);
@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic);
@import url(http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic|PT+Serif:400,700,400italic,700italic|Gentium+Book+Basic:400,400italic,700,700italic&subset=latin,latin-ext);

/*********************************************************************
    LAYOUT  
 ********************************************************************/
p {
    text-indent: 0.2in;
    padding: 0;
    margin: 0;
    font-family: 'PT Serif', serif;
    font-size: 1.1em;
    line-height: 1.3em;
}

sup {
    font-size: .6em;
}
#disclaimer {    string-set: pagecnt "" }
#disclaimer h2 {    prince-bookmark-label: none }
#contributors {
    float: bottom;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1in;
}
#contributors th,
#contributors td {
    text-align: left;
    padding: 2px 5px;
    border: 1px solid black;
}
#contributors th.header {
    background: black;
    color: white;
}

/*********************************************************************
    PRINCEXML  
 ********************************************************************/
@page {
    /* Document format*/
    size: 5.8in 8.3in;
    /* Set margin to "0" for inline pictures */
    margin: .6in;

    @top-center {
        content: string(chapter);
        /*border-bottom: 1px solid #EEE;*/
    }

    @bottom-center {
        content: string(pagecnt);
        font-style: italic;
        /*border-top: 1px solid #EEE;*/
    }
}

/* Style footnotes */
.fn:first-child {
    border-top: 1px solid black;
}
.fn {
    float: footnote;
    font-size: .8em !important;
    font-family: 'Alegreya', serif !important;
    color: black !important;
}
/* General class for elements with a PrinceXML effect that have to be hidden */
.invisible {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    display: block;
}
/* Class for setting page titles */
.chapterstart {    string-set: chapter content() chapter-cache content() }

.image {
    position: relative;
    overflow: hidden;
    background-position: left top;
    background-size: 100% 100%;
    /*: ;
    page-break-before: avoid;
    page: cover;*/
}
.page {
    page-break-before: always;
    position: relative;
    overflow: hidden;
    /*width: 5.8in;;
    height: 8.3in;*/
}
.counter,
p {    string-set: pagecnt counter(page) }

.sashie-wrapper {
    width: 5.8in;
    height: 8.3in;
    position: relative;
    top: -0.61in;
    left: -0.6in;
    float: top;

}
/* Normal sashies always appear at the top and have no footer */
.sashie {
    string-set: pagecnt "" chapter content();
}
/* landscape sashies get their own @page definition */
/*.sashie.landscape {
    float: none;
    margin-top: 0;
    margin-left: 0;
}*/

.sashie:after {
    float: top;
    display: inline;
    content: "";
    string-set: chapter string(chapter-cache);
}
/* Break page  */
.pagebreak {    page-break-before: always }

@prince-pdf {
    /*prince-pdf-page-layout: two-column*/
}
